<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.fjnu.foodvomitslot.dao.TbCustomerLevelMapper" >
  <resultMap id="BaseResultMap" type="edu.fjnu.foodvomitslot.model.TbCustomerLevel" >
    <id column="cl_id" property="clId" jdbcType="INTEGER" />
    <result column="cl_low_integral" property="clLowIntegral" jdbcType="INTEGER" />
    <result column="cl_high_integral" property="clHighIntegral" jdbcType="INTEGER" />
    <result column="cl_nickname" property="clNickname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cl_id, cl_low_integral, cl_high_integral, cl_nickname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_customer_level
    where cl_id = #{clId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_customer_level
    where cl_id = #{clId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.fjnu.foodvomitslot.model.TbCustomerLevel" >
    insert into tb_customer_level (cl_id, cl_low_integral, cl_high_integral, 
      cl_nickname)
    values (#{clId,jdbcType=INTEGER}, #{clLowIntegral,jdbcType=INTEGER}, #{clHighIntegral,jdbcType=INTEGER}, 
      #{clNickname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.fjnu.foodvomitslot.model.TbCustomerLevel" >
    insert into tb_customer_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clId != null" >
        cl_id,
      </if>
      <if test="clLowIntegral != null" >
        cl_low_integral,
      </if>
      <if test="clHighIntegral != null" >
        cl_high_integral,
      </if>
      <if test="clNickname != null" >
        cl_nickname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clId != null" >
        #{clId,jdbcType=INTEGER},
      </if>
      <if test="clLowIntegral != null" >
        #{clLowIntegral,jdbcType=INTEGER},
      </if>
      <if test="clHighIntegral != null" >
        #{clHighIntegral,jdbcType=INTEGER},
      </if>
      <if test="clNickname != null" >
        #{clNickname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.fjnu.foodvomitslot.model.TbCustomerLevel" >
    update tb_customer_level
    <set >
      <if test="clLowIntegral != null" >
        cl_low_integral = #{clLowIntegral,jdbcType=INTEGER},
      </if>
      <if test="clHighIntegral != null" >
        cl_high_integral = #{clHighIntegral,jdbcType=INTEGER},
      </if>
      <if test="clNickname != null" >
        cl_nickname = #{clNickname,jdbcType=VARCHAR},
      </if>
    </set>
    where cl_id = #{clId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.fjnu.foodvomitslot.model.TbCustomerLevel" >
    update tb_customer_level
    set cl_low_integral = #{clLowIntegral,jdbcType=INTEGER},
      cl_high_integral = #{clHighIntegral,jdbcType=INTEGER},
      cl_nickname = #{clNickname,jdbcType=VARCHAR}
    where cl_id = #{clId,jdbcType=INTEGER}
  </update>
</mapper>