<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.fjnu.foodvomitslot.dao.TbCustomerMapper" >
  <resultMap id="BaseResultMap" type="edu.fjnu.foodvomitslot.model.TbCustomer" >
    <id column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_nickname" property="cNickname" jdbcType="VARCHAR" />
    <result column="c_password" property="cPassword" jdbcType="VARCHAR" />
    <result column="c_purl" property="cPurl" jdbcType="VARCHAR" />
    <result column="ct_typeid" property="ctTypeid" jdbcType="INTEGER" />
    <result column="c_email" property="cEmail" jdbcType="VARCHAR" />
    <result column="c_phone" property="cPhone" jdbcType="VARCHAR" />
    <result column="c_signature" property="cSignature" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_name, c_nickname, c_password, c_purl, ct_typeid, c_email, c_phone, c_signature
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_customer
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_customer
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.fjnu.foodvomitslot.model.TbCustomer" >
    insert into tb_customer (c_id, c_name, c_nickname, 
      c_password, c_purl, ct_typeid, 
      c_email, c_phone, c_signature
      )
    values (#{cId,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, #{cNickname,jdbcType=VARCHAR}, 
      #{cPassword,jdbcType=VARCHAR}, #{cPurl,jdbcType=VARCHAR}, #{ctTypeid,jdbcType=INTEGER}, 
      #{cEmail,jdbcType=VARCHAR}, #{cPhone,jdbcType=VARCHAR}, #{cSignature,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.fjnu.foodvomitslot.model.TbCustomer" >
    insert into tb_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cNickname != null" >
        c_nickname,
      </if>
      <if test="cPassword != null" >
        c_password,
      </if>
      <if test="cPurl != null" >
        c_purl,
      </if>
      <if test="ctTypeid != null" >
        ct_typeid,
      </if>
      <if test="cEmail != null" >
        c_email,
      </if>
      <if test="cPhone != null" >
        c_phone,
      </if>
      <if test="cSignature != null" >
        c_signature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cNickname != null" >
        #{cNickname,jdbcType=VARCHAR},
      </if>
      <if test="cPassword != null" >
        #{cPassword,jdbcType=VARCHAR},
      </if>
      <if test="cPurl != null" >
        #{cPurl,jdbcType=VARCHAR},
      </if>
      <if test="ctTypeid != null" >
        #{ctTypeid,jdbcType=INTEGER},
      </if>
      <if test="cEmail != null" >
        #{cEmail,jdbcType=VARCHAR},
      </if>
      <if test="cPhone != null" >
        #{cPhone,jdbcType=VARCHAR},
      </if>
      <if test="cSignature != null" >
        #{cSignature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.fjnu.foodvomitslot.model.TbCustomer" >
    update tb_customer
    <set >
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cNickname != null" >
        c_nickname = #{cNickname,jdbcType=VARCHAR},
      </if>
      <if test="cPassword != null" >
        c_password = #{cPassword,jdbcType=VARCHAR},
      </if>
      <if test="cPurl != null" >
        c_purl = #{cPurl,jdbcType=VARCHAR},
      </if>
      <if test="ctTypeid != null" >
        ct_typeid = #{ctTypeid,jdbcType=INTEGER},
      </if>
      <if test="cEmail != null" >
        c_email = #{cEmail,jdbcType=VARCHAR},
      </if>
      <if test="cPhone != null" >
        c_phone = #{cPhone,jdbcType=VARCHAR},
      </if>
      <if test="cSignature != null" >
        c_signature = #{cSignature,jdbcType=VARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.fjnu.foodvomitslot.model.TbCustomer" >
    update tb_customer
    set c_name = #{cName,jdbcType=VARCHAR},
      c_nickname = #{cNickname,jdbcType=VARCHAR},
      c_password = #{cPassword,jdbcType=VARCHAR},
      c_purl = #{cPurl,jdbcType=VARCHAR},
      ct_typeid = #{ctTypeid,jdbcType=INTEGER},
      c_email = #{cEmail,jdbcType=VARCHAR},
      c_phone = #{cPhone,jdbcType=VARCHAR},
      c_signature = #{cSignature,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <select id="selectCustomerByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_customer
    where c_name = #{cName,jdbcType=VARCHAR}
  </select>
   <select id="selectByNameLevelSubject" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from tb_customer
    where c_name = #{name}
  </select>
</mapper>